<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/tasks.css">
    <title>Tasks</title>
</head>
<body>
<div class="container">
    <div class="navbar">
        <table class="navbar-table">
            <tbody>
            <tr>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="menu">
        <table class="menu-table">
            <tbody>
            <tr>
                <td>
                    <div class="menu-line">
                        <table class="menu-line-table">
                            <tr>
                                <td>
                                    <table class="line-table">
                                        <tbody>
                                        <tr>
                                            <td style="width: 85px">
                                                <img class="img-tasks"
                                                     src="https://media.discordapp.net/attachments/1123260205132681237/1125434929308774440/list.png"
                                                     alt="tasks"
                                                     height="auto">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-name">
                                    Ei ei ei {{Name}}
                                </td>
                            </tr>

                            <tr>
                                <td class="text-tasks">
                                    You haven't finished some of your tasks yet. 😔🙃<br><br>
                                </td>
                            </tr>
                            <tr>
                                <td class="login-button">
                                    <table class="text-login">
                                        <tr>
                                            <td>
                                                <button>Go to your task</button>
                                            </td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>