<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/welcome.css">
    <title>Welcome</title>
</head>
<body>
<div class="container">
    <div class="navbar">
        <table class="navbar-table">
            <tbody>
            <tr>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="menu">
        <table class="menu-table">
            <tbody>
            <tr>
                <td>
                    <div class="menu-line">
                        <table class="menu-line-table">
                            <tr>
                                <td>
                                    <table class="line-table">
                                        <tbody>
                                        <tr>
                                            <td style="width: 85px">
                                                <img class="img-welcome"
                                                     src="https://cdn.discordapp.com/attachments/1123260205132681237/1123267372766203976/bem-vindo-de-volta_1.png"
                                                     alt="welcome"
                                                     height="auto">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-name">
                                    Welcome {{Name}}
                                </td>
                            </tr>

                            <tr>
                                <td class="text-welcome">
                                    Hello {{Name}}!!<br><br>
                                    Thank you for signing up for Task Calendar.<br>
                                    We're really happy to have you! <br><br>
                                    Click the link below to login to your account:
                                </td>
                            </tr>

                            <tr>
                                <td class="login-button">
                                    <table class="text-login">
                                        <tr>
                                            <td>
                                                <button>Login to Your Account</button>
                                            </td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>